.category-filter {
    width: 94% !important;
}

.list-companies table.table-bordered tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
    vertical-align: middle;
}

.company-form .nav > li > a {
    color: #0b97c4;
}

.company-form .company-characteristic .chosen-container-multi {
    margin-bottom: 0;
}

.additional_specialization_select_container .form-group {
    width: 90%;
    display: inline-block;
}

.removeAdditionalSpec {
    display: inline-block;
    margin-left: -3.5%;
    position: relative;
    cursor: pointer;
}
hr.hr-style3{
    margin-top: 0;
}
.profile_input_file img{
    width: 100%;
}
.profile_input_file#logo_container {
    background-image: url(/img/icons/add_photo_icon.svg);
}
.profile_input_file {
    width: 90px;
    height: 90px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 8px;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.profile_input_file a:hover{
    text-decoration: none;
}
.profile_input_file a {
    position: absolute;
    color: red;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    transform: rotate(45deg);
    font-weight: 700;
    text-decoration: none;
}
.profile_input_file input {
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.primary_info_form_block {
    display: flex;
    flex-wrap: wrap;
}

.company-view table.table-bordered tbody th:first-child{
    width: 400px;
}

form#companies_search .calendar-icon {
    width: 100%;
}

form#companies_search .calendar-icon:before {
    margin-top: -11px;
}